*{
    margin:0;
}

.item1{
    grid-area: a;
    background: #5680E9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item2{
    grid-area: b;
    background: #84CEEB;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.item3{
    grid-area: c;
    background: #84CEEB;
}

.item4{
    grid-area: d;
    background: #5AB9EA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 5fr; 
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: 
    'a a'
    'b d'
    'c d';
}

ul{
    list-style: none;
    text-align: center;
    margin-right: 40px;
}

li{
    margin: 20px;
}

.linka{
    text-decoration: none;
    color: black;
    padding: 20px 50px;
    background: gray;
    margin: 20px;
}

.linkb{
    text-decoration: none;
    color: black;
    padding: 20px 50px;
    background: gray;
    margin: 20px;
}

table{
    margin: 50px;
    margin-top: 5px;
    margin-bottom: 0;
}

table,tr,td{
    border-collapse: collapse;
    /* background: lightslategray; */
    border: 2px solid black;
}

.head{
    background: gray;
}

.son{
    background: lightgray;
    transition: 0.5s;
}

.son:hover{
    background: gray;
    transition: 0.5s;
}

.btn{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    background: gray;
    border-radius: 5px;
    margin: 5px;
}

.tytul{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.menu{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.upper{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    text-align: center;
}

input{
    width: 200px;
    height: 25px;
    border-radius: 10px;
    border:0;
    background: #5AB9EA;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}

.modal-content{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 25px;
    position: relative;
}

img{
    width: 90px;
    height: 90px;
}

.button{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(98, 98, 199);
    border-radius: 15px;
}

.inputy{
    width: 50%;
    height: 25px;
    border-radius: 10px;
    border: 1px solid rgb(98, 98, 199);
    display: block;
    margin: 15px auto;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.layout{
    width: 10px;
    height: 50px;
}

.fab{
    font-size: 18px;
}