*{
    margin:0;
}

.item1{
    grid-area: a;
    background: rgb(210, 241, 151);
    text-align: center;
}

.item2{
    grid-area: b;
    background: lightcoral;
}

.item3{
    grid-area: c;
    background: lightcoral;
}

.item4{
    grid-area: d;
    background: rgb(123, 200, 223);
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 5fr; 
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas: 
    'a a'
    'b d'
    'c d';
}

ul{
    list-style: none;
    text-align: center;
    margin-right: 40px;
}

li{
    margin: 50px;
}

a{
    text-decoration: none;
    color: black;
    padding: 20px 50px;
    background: gray;
  
}

table,tr,td{
    border-collapse: collapse;
    background: lightslategray;
    border: 2px solid black;
}