*{
    margin: 0;
    text-align: center;
}

h1{
    color: rgb(196, 5, 5);
    text-shadow: 0 0 20px black;
}

.upper{
    background-color: #5680E9;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lower{
    background-color:#5680E9;
    width: 100%;
    height: 50vh;
}

.a{
    text-decoration: none;
    color: black;
    padding: 20px 60px;
    background: gray;
    margin-top: 20px;
    border-radius: 10px;
}
