*{
    margin: 0;
    
}

body{
    text-align: center;
}

h1{
    color:  rgb(231, 162, 162);
    text-shadow: 0 0 20px black;
}

.upper{
    background-color: #5680E9;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lower{
    background-color:#5680E9;
    width: 100%;
    height: 50vh;
}

a{
    text-decoration: none;
    color: black;
    padding: 20px 60px;
    background: gray;
    margin-top: 20px;
    border-radius: 10px;
}

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display:none;
}

.modal-content{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 25px;
    position: relative;
}

img{
    width: 90px;
    height: 90px;
}

.button{
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(98, 98, 199);
    border-radius: 15px;
}

.inputy{
    width: 50%;
    height: 25px;
    border-radius: 10px;
    border: 1px solid rgb(98, 98, 199);
    display: block;
    margin: 15px auto;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

input{
    width: 200px;
    height: 25px;
    border-radius: 10px;
    border:0;
    background:  #84CEEB;
}