*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.a{
    grid-area: a;
    background: rgb(0, 195, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.b{
    grid-area: b;
    background: rgb(117, 121, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    'a'
    'b';
}

.header{
    width: 500px;
    height: 100px;
    background: rgb(224, 219, 219);
}

.main{
    width: 500px;
    height: 600px;
    background: rgb(164, 209, 228);
}

.main{
    margin-bottom: 10px;
}
.header{
    margin-top: 10px;
}